/* bootstrap modified styles */
.breadcrumb-item::before { content: unset !important }
.breadcrumb-item:not(:last-child)::after { content: "/"; margin: 0 .5rem; color: var(--gray-500) }

.modal.left .modal-dialog { width: 300px }
.modal.fade.left .modal-dialog { transform: translate(-300px, 0) }
.modal.left.show .modal-dialog { transform: none !important }

.custom-select { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23aaa' d='M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z'/%3E%3C/svg%3E"); background-position: right .375rem center; background-size: 1.275rem; -webkit-appearance: none; -moz-appearance: none; appearance: none }

/* additional colors & backgrounds */

.bg-black { background: var(--black) !important }
.border-current { border-color: currentColor !important }
.border-gray-150 { border-color: var(--gray-150) !important }

html, body { font-size: 14px }
img { max-width: 100% }
body.loading [onclick] { pointer-events: none }
span[class*=col-], span.col { display: block }
svg { box-sizing: content-box }
svg:focus, svg>*:focus { outline: none }

.col-xxl-only { max-width: calc(190px + 1.5rem) }
@media (min-width: 1200px) {
  .col-aside { flex: 0 0 18.5rem; max-width: 18.5rem }
}

a.text-secondary:hover:not(.dark-on-hover),
a.text-dark:hover:not(.dark-on-hover) { color: var(--danger) !important; border-color: currentColor !important; transition: all ease .15s }

.border-bottom-dashed-style { border-bottom-style: dashed !important }
.border-bottom-dotted-style { border-bottom-style: dotted !important }
.t-0 { top: 0 } .b-0 { bottom: 0 } .l-0 { left: 0 } .r-0 { right: 0 }
.t-50p { top: 50% } .l-50p { left: 50% }
.z-index-2 { z-index: 2 }
.z-index-max { z-index: 9999 }
.cursor-pointer { cursor: pointer }

/* icons */
[class*=ft-icon] { fill: currentColor; transition: filter .15s ease-in-out }
.ft-icon-18 { width: 18px; height: 18px; margin: calc( (1.5rem - 18px) / 2) 0 }
.ft-icon-24 { width: 24px; height: 24px; margin: calc( (1.5rem - 24px) / 2) 0 }

.btn:not(:disabled):hover [class*=ft-icon].darker-on-hover, a:hover [class*=ft-icon].darker-on-hover { filter: brightness(75%) }

.btn-cart-add, .btn-cart-add [class*=ft-icon] { transition: none !important }
.btn-cart-add.btn-danger [class*=ft-icon],
.dropdown-toggle.btn-primary [class*=ft-icon],
.dropdown-item:active [class*=ft-icon] { color: var(--white) !important; filter: none !important; transition: none !important }

.rating-selection label.active, .rating-selection label.hover { color: var(--warning) !important }
.rating-selection label.active.hover { filter: brightness(95%) }

.btn .loading-icon, .btn.loading .static-icon { display: none }
.btn .static-icon, .btn.loading .loading-icon { display: block }

.collapsed > .toggle-hidden, .toggle-shown { display: inherit }
.collapsed > .toggle-shown, .toggle-hidden { display: none }

.copyright:hover svg { fill:var(--danger) !important}

/* custom styles */
[class*=line-clamp-] {
	display: -webkit-box !important;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.line-clamp-1 { -webkit-line-clamp: 1 }
.line-clamp-2 { -webkit-line-clamp: 2 }
.line-clamp-3 { -webkit-line-clamp: 3 }

.required > label:after { content: "\00A0\002A"; color: var(--danger) }
.has-error .option-error { background: rgba(255,0,0,.025) }

.ft-backdrop { height: 0; width: 0; visibility: hidden; opacity: 0; transition: opacity .15s linear; z-index: 9998; transition: opacity .15s linear }

.nav-pills-light .nav-link.active { color: var(--dark); background-color: var(--light) }

/* owl-carousel navigation */
.btn-dot { height: .6rem; width: .6rem; margin: .3rem; opacity: .2; transition: all ease 0.25s; }
.btn-dot:hover { opacity: .5 }
.btn-dot.active { transform: scale(1.5); opacity: 1 }

/* fix if the owl-carousel styles were not loaded beforehand */
.owl-carousel { display: none }
.owl-height { transition: none !important }

@media (max-width: 991px) {
  #ftHeaderLinks { overflow-x: auto }
  #ftHeaderLinks::-webkit-scrollbar { height: 0 }
  #ftHeaderLinks > ul { white-space: nowrap }
  #ftHeaderLinks a { border-bottom: none !important }
}

/* category menu */
#ftMenu.show .btn{ border-bottom-right-radius: 0; border-bottom-left-radius: 0 }

#ftMenu .category-menu-list { border-radius: 0; transform: none !important; top: 100% !important }
#ftMenu .category-menu-item { border-color: var(--gray-150) !important }
#ftMenu .category-menu-list > .category-menu-item:first-child { border-top-color: transparent !important }

#ftMenu .mobile-link-holder { height: 3rem; margin-top: -3rem }
html:not(.mobile) #ftMenu .mobile-link-holder { display: none !important }

#ftMenu [class*=list-level-].collapse { display: none }
#ftMenu [class*=list-level-],
#ftMenu [class*=list-level-].show{ display: block }

#ftMenu .menu-icon-holder > img { margin: -2px 0 }
#ftMenu .item-level-1.hover .link-level-1 .has-hover,
#ftMenu .item-level-2:hover .link-level-2 .has-hover,
#ftMenu .hover-icon { display: none }
#ftMenu .item-level-1.hover .link-level-1 .hover-icon,
#ftMenu .item-level-2:hover .link-level-2 .hover-icon,
#ftMenu .has-hover { display: block }

@media (max-width: 991px) {
	#ftMenu .category-menu-item a:active,
	#ftMenu .child-list-toggle:active { background: var(--light) }
	#ftMenu .list-level-2 { border: none !important; box-shadow: none !important; }
}

@media (min-width: 992px) {
  #ftMenu .category-menu-item .link-level-1 { transition: none !important }
	#ftMenu .category-menu-item.hover .link-level-1 { background: var(--light) }
	#ftMenu .item-level-1.hover .link-level-1.has-child:after {
		content: url("data:image/svg+xml,%3Csvg fill='%23868e96' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'/%3E%3C/svg%3E"); background-image: linear-gradient(to right, var(--light) 0%, var(--white) 100%); display: block; position: absolute; top: 0; right: 1px; height: 100%; 	width: calc(2rem + 2px); padding-top: calc((1.5rem - 24px) / 2 + .6rem); z-index: 1009;
	}

	#ftMenu .list-level-2 { display: none; position: absolute; left: 100%; top: 0; min-height: calc(100% + .5rem); z-index: 1008 }
	#ftMenu .category-menu-item.hover .list-level-2 { display:flex; flex-direction: column}

	#ftMenu .link-level-2 { font-weight: 600 }

	#ftMenu .list-level-2.cols-1 { width: calc(100% + .5rem) }
	#ftMenu .list-level-2.cols-2 { width: calc((var(--breakpoint-lg) - var(--breakpoint-lg)/4 - 60px) * 2/3) }
	#ftMenu .list-level-2.cols-3 { width: calc(var(--breakpoint-lg) - var(--breakpoint-lg)/4 - 60px) }

	#ftMenu .list-level-2.cols-1 .row-cols-1 > .col:nth-child(1) > .category-menu-item,
	#ftMenu .list-level-2.cols-2 .row-cols-1 > .col:nth-child(-n+2) > .category-menu-item,
	#ftMenu .list-level-2.cols-3 .row-cols-1 > .col:nth-child(-n+3) > .category-menu-item { border-top-color: transparent !important }

	#ftMenu .list-level-3.collapse { display:block }

	#ftMenu .list-level-3 .category-menu-item { border: none !important }
	#ftMenu .list-level-3 .category-menu-item:last-child { margin-bottom: 1rem }

	#ftMenu.d-show .btn { border-bottom-right-radius: 0; border-bottom-left-radius: 0 }

	#ftMenu .row.no-gutters.py-1:not(.py-lg-0) { padding-top: .1rem !important; padding-bottom: .1rem !important }

  .mobile #ftMenu .link-all { display: block !important }

	.category-menu-open #ftMenu + .menu-backdrop { visibility: visible; 	opacity: .5; height: 100%; width: 100% }
	.category-menu-open #ftMenu { z-index: 9999 }
}

@media (min-width: 1200px) {
	#ftMenu .list-level-2.cols-1 { width: calc(100% + .5rem) }
	#ftMenu .list-level-2.cols-2 { width: calc((var(--breakpoint-xl) - var(--breakpoint-xl)*.23 - 100px) * 2/3) }
	#ftMenu .list-level-2.cols-3 { width: calc(var(--breakpoint-xl) - var(--breakpoint-xl)*.23 - 100px) }
}

/* search */
#ftSearch input[type="search"]::-webkit-search-cancel-button {
  background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath fill='%23aaa' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E") center no-repeat; -webkit-appearance: none; height: 24px;  width: 24px; right: 0; padding: 0.25rem; border-radius: 50%; opacity: 0.75; cursor: pointer;
}
#ftSearch .select-text{ max-width: 7rem }

.live-search-open #ftSearch { z-index: 9999 }
.live-search-open #ftSearch .form-control:focus { box-shadow: none }
.live-search-open #ftSearch + .search-backdrop { visibility: visible; opacity: .5; height: 100%; width: 100% }
.live-search-open #ftSearch .livesearch { display: block!important }

/* cart */
#ff_cart > .btn { min-width: 12rem }

#ff_cart .loading-icon,
#ff_cart.loading .static-icon { display: none }

#ff_cart .static-icon,
#ff_cart.loading .loading-icon { display: block }

#ff_cart .input-quantity { width: 2.7rem }

#ff_cart.loading .cart-mask { display: block !important; opacity:.3; z-index: 3 }

@media (min-width: 992px) {
  #ff_cart_total { margin: -.35rem 0 }
  #ff_cart_total > span.loading-wrapper { display: block; margin: .35rem 0 }
  #ff_cart_total > span:not(.loading-wrapper) { display: block; line-height: 1.25; font-size: .875rem }
}

/* products modules */
.products-carousel .owl-item.active + .active { border-left: 1px solid var(--gray-150) }
.product-item .product-name { min-height: 2.8rem }
@media (min-width: 992px) {
  .column-left .products-wall [class*=row-cols] > .col, .column-right .products-wall [class*=row-cols] > .col { flex: 0 0 100%; min-width: 100% }
}

/* news modules */
.article-item .article-name { min-height: 4rem }
@media (min-width: 992px) {
  .column-left .news-wall [class*=row-cols] > .col, .column-right .news-wall [class*=row-cols] > .col { flex: 0 0 100%; min-width: 100% }
}

/* products list view styles */
.list .product-image { text-align: left !important }
.list .product-text { display: block !important }
.list .product-item > .flex-column { flex-direction: row !important }
@media (max-width: 575px) {
  .list .product-item > .flex-column { padding: .5rem !important; flex-wrap: wrap !important }
	.list .product-image { flex: 0 0 40%; min-width: 40% }
	.list .product-description { flex: 0 0 60%; min-width: 60% }
	.list .product-controls { flex: 0 0 100%; min-width: 100% }
}
@media (min-width: 576px) {
  .list .product-image { flex: 0 0 18%; min-width: 18%; padding: 1rem !important }
  .list .product-name { margin-top: .5rem !important }
  .list .product-name a { font-weight: 600 !important }
  .list .product-controls { display: flex; flex-direction: column !important; flex: 0 0 15rem; min-width: 15rem; padding: 1rem; border-left: 1px solid var(--gray-150); margin-left: auto }
  .list .product-controls .btn-group { display: flex !important; margin-top: auto !important }
}

/* footer map styles */
#ff_fmap .code-container > * { width: 100% !important; height: 100% !important }

/* footer styles */
.category-menu-open #footer-fixed-buttons,
.live-search-open #footer-fixed-buttons,
.modal-open #footer-fixed-buttons,
.psw-open #footer-fixed-buttons { z-index: 1040 !important }

/* product page */
#product-gallery .owl-carousel .animated {
  -webkit-animation-duration : .25s !important ;
  animation-duration : .25s !important ;
}

.option-image:checked + label { border-color: var(--primary) !important; border-width: 2px !important;	margin: -1px !important }

.nav-tabs .nav-link.active { padding: .6rem 1rem; }
@media (min-width: 992px) {
	.nav-tabs .flex-fill { flex: none !important }
}
