<div class="simplecheckout-block" id="simplecheckout_comment">
  <div class="card mb-4">
    {% if display_header %}
      <div class="checkout-heading card-header px-3">
        <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <svg class="d-block ft-icon-24 m-0 text-gray-500 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM20 4v13.17L18.83 16H4V4h16zM6 12h12v2H6zm0-3h12v2H6zm0-3h12v2H6z"/>
            </svg>
          </div>
          <div class="col">
            <div class="h5 m-0">
              {{ label }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="simplecheckout-block-content card-body p-0">
      <textarea rows="3" class="form-control border-0 py-3 px-4" name="comment" id="comment" placeholder="{{ placeholder }}" data-reload-payment-form="true">{{ comment }}</textarea>
    </div>
  </div>
</div>
