<div>
	<script src="//www.google.com/recaptcha/api.js"></script>
  {% if route|slice(0, 9) == 'checkout/' %}
	<h5>{{ text_captcha }}</h5>
	{% endif %}
  <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
  {% if error_captcha %}
  <div class="text-danger">{{ error_captcha }}</div>
  {% endif %}
</div>
