{{ header }}
<div id="common-maintenance" style="height: 80vh">
 <div class="d-table w-100 h-100">
		<div class="d-table-cell w-100 h-100 align-middle">
			{{ message }}
		</div>
	</div>
</div>
<script>
	$(function () {$('header, footer').addClass('d-none');});
</script>
{{ footer }}